@import url(https://fonts.google.com/specimen/Nunito+Sans);

/* Basic Styles */

body {
    font-family: 'Nunito', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: lighter;
}

h1 {
    font-weight: lighter;
    font-size: 1.75em;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(148, 98, 32);
}

/* Footer */

html, body {
  height: 100%
}

.content {
  flex: 1 0 auto;
}

.foot {
  flex-shrink:0;
  font-size: .75em;
}