@font-face {
  font-family: "Ostrich Sans";
  src: url(fonts/ostrich-sans-master/OstrichSans-Medium.otf);
}

@font-face {
  font-family: "Ostrich Sans-Bold";
  src: url(fonts/ostrich-sans-master/OstrichSans-Bold.otf);
}

/* Basic Styles */

body {
    font-family: 'Ostrich Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: lighter;
    background-color: black;
    color: white;
}

h1 {
    font-family: "Ostrich Sans-Bold";
    font-size: 3em;
    text-align: center;
    margin: auto;
    letter-spacing: .1em;
}

.landing-header {
    font-size: 2em;
    width: 100%;
    margin: 2em auto;
    text-align: left;
}

.long-header,
.index-nav {
  text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 164, 122)
}

.main-header {
  margin-top: 2.5em;
}

.coming-soon {
  font-size: 2em;
}

.card-body {
  border: 1px solid whitesmoke;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  box-shadow: 5px 5px whitesmoke;
  font-size: 1.5em;
}

.card-body:hover {
  transform: scale(1.1);
  transition: all .5s;
}

.all-cards {
  width: 70%;
  margin: auto;
}

/* Nav Bar */


/* About Me page */

.facts-header {
  font-size: 2em;
  letter-spacing: .1em;
  font-weight: lighter;
}

.facts {
  font-size: 1.75em;
  list-style-type: none;
  text-align: center;
  letter-spacing: .05em;
  padding-bottom: 20px;
}


/* Content */

html, body {
  height: 100%
}

.content {
  flex: 1 0 auto;
}

/* Footer */
.foot {
  flex-shrink:0;
  font-size: .75em;
}

/* Media Queries */

@media (max-width: 769px){ 
  .main-header,
  .flex-blog {
    display: inline;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .comment-section {
    font-size: 1.5em;
    text-align: center;
    margin: 1px auto;
    width: 90%;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    font-size: 2em;
    margin: auto;
    letter-spacing: .1em;
  }

}

@media (min-width: 770px) and (max-width: 1024px) {
    /* Nav */
  .nav {
    width: 100%;
    font-size: 2em;
    margin: auto;
    justify-content: center;
    letter-spacing: .1em;
    display: flex;
  }

  .nav p {
    margin: 20px 10px;
  }

  .ideal-falafel {
    margin: auto;
  }

  .comment-section {
    font-size: 1.5em;
    text-align: center;
    margin: 1px auto;
    width: 70%;
  }

}


@media (min-width: 1025px) {

  /* Nav */
  .nav {
    width: 100%;
    font-size: 2em;
    margin: auto;
    justify-content: center;
    letter-spacing: .1em;
    display: flex;
  }

  .nav p {
    margin: 20px 10px;
  }

  /* Comment Section */

  .comment-section {
    font-size: 1.2em;
    text-align: center;
    margin: 1px auto;
    width: 90%;
  }

  /* not being used right now! */
  .flex-blog {
    display: flex;
    align-items: stretch;
    width: 100%;
  } 

  .comment-button,
  .comment-text,
  .title-text {
    border: 2px solid rgb(105, 105, 105); 
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px; 
    height: 40px; 
    vertical-align: middle;
    letter-spacing: .2em;
  }

  .blog-button:hover {
    cursor: pointer;
  }

  .down-arrow {
    font-size: 16px;
  }

  .wider-spacing {
    letter-spacing: .1em;
  }

  .title-text {
    width: 20%;
  }

  .blog-button {
    background-color: black;
    color: white;
    padding: 10px;
  }

  .blog-content {
    height: 500px;
  }

  .blog-text {
    height: 100px;
    width: 30%;
    padding: 10px 10px;
  }

  input[ type="text" ],
  textarea,
  .blog-button {
    font-family: 'Ostrich Sans', sans-serif;
  }

  .ideal-falafel {
    width: 50%;
    vertical-align: middle;
    padding: 10px 10px; 
    margin: auto;
  }

  /* Ideal Falafel */

  .criteria {
    width: 50%;
    /* remove height when the real blog post is ready */
    height: 500px; 
    margin: auto;
  }
}

