@import url(https://fonts.google.com/specimen/Nunito+Sans);

/* Basic Styles */

body {
    font-family: 'Nunito', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: lighter;
}

h1 {
    font-weight: lighter;
    font-size: 1.75em;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: rgb(148, 98, 32);
}

a:hover {
    border-bottom: 1px solid #000 
}



/* Footer */

html, body {
  height: 100%
}

.content {
  flex: 1 0 auto;
}

.foot {
  flex-shrink:0;
  font-size: .75em;
}

/* Media Queries */